* {
    margin: 0 auto;
    padding: 0;
}

/* Main Image Container */

#main-img-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-img {
    height: 600px;
    width: 100%;
    background: url('/assets/images/hero-img.jpg') no-repeat center center;
    background-size: cover;
}

/* Review Section */

.review-img {
    
}